# R specific
.Rhistory
.Rdata
.RData
.Ruserdata

# Python specific
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# R Markdown intermediate files
*_cache/
*_files/
*.utf8.md
*.knit.md

# LaTeX intermediate files
*.tex
*.log
*.aux
*.out
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz
